@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(26, 25, 25, 0.287); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(230, 216, 216, 0.173); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


@layer components {
  .txt-primary {
    @apply text-[#e11d48];
  }
}

.Toastify__toast-theme--light {
  background-color: #141414e1 !important;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.75) 100%);
  box-shadow: rgb(213, 1, 91) 0px 0px 0px 0px inset;
  transition: all 0.2s ease 0s;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: #212121; */
}

.search-container {
  transition: width 0.3s ease-in-out; /* Transition the width property over 0.3 seconds with ease-in-out timing function */
}

.open-button {
  width: 300px; /* Initial width when open */
  transition: width 0.3s ease-in-out; /* Apply transition specifically for the width property */
}

.closed-button {
  width: 30px; /* Initial width when closed */
  transition: width 0.3s ease-in-out; /* Apply transition specifically for the width property */
  overflow: hidden;
}
.swiper-button {
  color: white;
}
.swiper-button-disabled {
  opacity: 0.5 !important;
}

.swiper-wrapper {
  padding: 10px 0 0 0 !important;
}

.swiper-slide {
  margin-top: 0 !important;
}

.tool::after {
  line-height: 1.25em;
  position: absolute;
  content: attr(aria-label);
  bottom: 100%;
  left: 50%;
  z-index: 999999;
  margin-bottom: 0.5em;
  white-space: nowrap;
  background: #2b2929;
  transform: translate(-50%, 10px) scale(0.8);
  transform-origin: 50% 100%;
  color: white;
  opacity: 0;
  padding: 4px 8px;
  border-radius: 4px;
  transition: transform 0.2s ease 0.1s, opacity 0.2s ease 0.1s;
  pointer-events: none;
  font-size: 0.75em;
}

.tool:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.syno::after {
  content: "";
  position: absolute;
  background: var(--bg-image);
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  bottom: 0;
  opacity: 0.1;
  background-position: center;
}

.sw .swiper-slide-next {
  opacity: 0.5 !important;
}

.sw .swiper-slide-prev {
  opacity: 0.5 !important;
}

.swiper-pagination {
  opacity: 0 !important;
}



.mediaHoverImg {
  height: 160px;
  width: 300px;
  margin-top: 10px;
  border-radius: 0%;
  z-index: 2;
}
.hoverScreen {
  position: relative;
  color: white;
  width: 300px;
  transform: scale(0.1); /* Initial scale set to 0.1 */
  transition-property: transform, opacity; /* Include opacity in the transition */
  transition-delay: 2000ms;
  transition-duration: 3s;
  top: -30px;
  left:-4rem;
  opacity: 1;
  z-index: 2;
  margin-bottom: 20px;
  text-decoration: none;
}

.mediaDiv:hover .hoverScreen {
  transform: scale(1); /* Scale to 1 on hover */
  animation: fadeIn 1s ease; /* Add fadeIn animation */
}

@keyframes fadeIn {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}

.hoverData {
  position: relative;
  background: linear-gradient(rgba(27, 37, 48, 0), #1b2530 48px);
  padding: 30px 30px;
  padding-bottom: 5px;
  margin-top: -45px;
  z-index: 2;
  text-decoration: none;
}
.playButton {
  color: white;
  transform: scale(1.3);
}
.playButton:hover {
  background-color: blue;
  border-radius: 50%;
  outline: none;
}
.playtext {
  text-decoration: none;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
.playDiv {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 65px;
}
.playIcon {
  width: 40px;
}
.addIcon {
  color: white;
}
.hoverHeading {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
.overview {
  margin-top: 5px;
  font-size: 11px;
  text-decoration: none;
}
.releaseYear {
  font-size: 11px;
  color: gray;
  margin-bottom: 15px;
}
.runTime {
  color: darkgray;
  font-size: 11px;
}
.footerScreen {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.messageIcon {
  color: darkgray;
  max-height: 18px;
}
.rated {
  border: 1px solid darkgray;
  color: darkgray;
  font-size: 9px;
  padding: 3px;
  height: 10px;
}


.headingBanner {
  color: white;
  font-size: 19px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.banner {
  left: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: space-between;
  z-index: -1;
}

.banner::-webkit-scrollbar {
  display: none;
}

.leftIconDiv {
  left: 0px;
  max-height: 166px;
  z-index: 1;
  width: 30px;
  color: gray;
  position: absolute;
  margin-top: 10px;
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease;
  background-color: rgba(15, 23, 30, 0.5);
}

.leftIcon {
  min-height: 160px;
}

.leftIconDiv:hover .leftIcon {
  color: white;
  transform: scale(1.5);
}

.rightIconDiv {
  margin-top: -180px;
  right: 0px;
  min-height: 166px;
  z-index: 1;
  width: 40px;
  color: gray;
  position: absolute;
  cursor: pointer;
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease;
  background-color: rgba(15, 23, 30, 0.5);
}

.rightIcon {
  min-height: 160px;
  margin-left: 0px;
  padding-top: -200px;
}

.rightIconDiv:hover .rightIcon {
  color: white;
  transform: scale(1.5);
}

.mediaScreen {
  margin-top: 5px;
  z-index: 0;
}

.mediaDiv {
  position: static;
  width: 100%;
  cursor: pointer;
  /* z-index: 0; */
  padding: 10px 0px;
  padding-top: 5px;
}

.mediaDiv .displayhoverScreen {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 1px;
  /* min-height: 400px; */
  transform: scale(1);
}

.mediaDiv:hover .displayhoverScreen {
  display: block;
  position: absolute;
}

.mediaImg {
  height: 270px;
  object-fit: cover;
  margin: 5px;
  border-radius: 4px;
  /* z-index: 0; */
  visibility: visible;
}

.mediaDiv:hover .mediaImg {
  height: 0px;
  width: 284px;
  visibility: hidden;
}

.moreButton {
  color: lightblue;
  font-size: 14px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.moreButton:hover {
  color: white;
}


.forward {
  right: 35%;
  top: 50%;
  transform: translate(50%, -50%);

}

.backward {
  left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);



}

[data-ctrl-hidden="true"] .forward, [data-ctrl-hidden="true"] .backward {
  visibility: hidden;
  opacity: 0;
}

.backward, .forward {
  color: #fff;
  position: absolute;
  background: none;
  outline: none;
  border: none;
}

.backward, .forward {
  transition: 0.4s opacity, 0.4s visibility;
}

.nextEp {
  position: absolute;
  color:white;
  padding: 7px 12px;
  border-radius: 5px;
  background:rgba(0, 0, 0, 0.566);
  bottom: 17%;
  right:3%
}

.nextEp:hover{
  background:rgb(0, 0, 0)
}
  

header {
  max-width: 100% !important;
}


@media (min-width: 601px) {
 .sws .swiper-slide-next {
  scale: 0.83 !important;

}

.sws .swiper-slide-prev {
  scale: 0.83 !important;

}
.sws .swiper-slide-active {
  scale: 1.10 !important;

}
}



.homeswtab {
  background: linear-gradient(90deg,rgba(45,45,45,.30342576483718486),rgba(30,30,32,.6675714231004901) 22%,rgb(37 37 40) 32%) !important;
}