@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {

  .txt-primary {
    @apply  text-[#e11d48]
  }
}








body {
  /* color: rgb(var(--foreground-rgb));
  background: #212121; */
}



.search-container {
 
  transition: width 0.3s ease-in-out; /* Transition the width property over 0.3 seconds with ease-in-out timing function */
}

.open-button {
  width: 300px; /* Initial width when open */
  transition: width 0.3s ease-in-out; /* Apply transition specifically for the width property */
}

.closed-button {
  width: 30px; /* Initial width when closed */
  transition: width 0.3s ease-in-out; /* Apply transition specifically for the width property */
  overflow: hidden;
}