@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  .txt-primary {
    @apply  text-[#e11d48]
  }
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --theme-primary: hsl(346.8 77.2% 49.8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #212121;
}



